@keyframes autoBlurAnimation {
    0% {
      filter: blur(40px);
    }

    10%, 90%{
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      opacity: 0;
      filter: blur(40px);
    }
    
  }

  .autoBlurDesign, section{
    animation:autoBlurAnimation both linear;
    animation-timeline:view();
  }

  @keyframes BottomMenu {
    0% {
        bottom: -100%;  /* Start from below */
        opacity: 0;
        scale: 0;
        transform: rotate(-100deg) skewX(-50deg);
    }
    50% {
        bottom: 1rem;
        opacity: 0.7;
        scale: 1.2;
        transform: rotate(5deg) skewX(2deg);
    }
    75% {
        bottom: 0.8rem;
        opacity: 0.5;
        scale: 0.95;
        transform: rotate(-20deg) skewX(-10deg);
    }
    100% {
        bottom: 1rem;
        opacity: 1;
        scale: 1;
        transform: rotate(0deg) skewX(0deg);
    }
}

@keyframes CircleRolling {
    0% {
        transform: rotate(0deg) scale(0);
    }

    50% {
        transform: rotate(180deg) scale(1.3);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
  
}


  
  