body{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding:0;
  margin:0;
  overflow-x:hidden;
  cursor:pointer;
}

html{
    scroll-behavior: smooth;
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

/*Root design*/
:root{
    --blue-color:rgb(185, 81, 194);
    --light-blue-color:rgb(249, 214, 255);
    --dark-blue:rgb(65, 4, 59);
    --blue2-color:rgb(147, 4, 147);
    --orange-color:rgb(44, 27, 23);
    --light-orange-color:rgb(98, 91, 80);
    --light-blue-gradient:linear-gradient(120deg, rgb(249, 214, 255), rgb(235, 252, 254));
    --light-blue-gradient-2:linear-gradient(-120deg, rgb(249, 214, 255), rgb(235, 252, 254));
    --gradient-1:linear-gradient(90deg, var(--blue2-color), var(--light-blue-color));
   --linear-background-gradient: linear-gradient(120deg, rgb(243, 197, 251), rgba(235, 252, 254, 0.144), rgb(201, 248, 253));
    --dark-gradient:linear-gradient(-140deg, var(--blue2-color), var(--dark-blue));
    --orange-gradient:linear-gradient(to right, var(--orange-color), var(--light-orange-color));
    --gray-color:rgb(239, 239, 239);
    --shadow-one: 0 0 30px rgba(0, 0, 0, 0.1);
    --shadow-two: 0 0 50px rgba(30, 27, 27, 0.244);

  }





/* Main section style*/

main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x:hidden;
}


.hero{
  background-image: var(--linear-background-gradient),
  url(/image/hero_background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
  overflow: hidden;
  padding:220px 10px 0px;
}

.hero-text, .hero-text-2{
  text-align:center;
  position:relative;

}

.hero-text h1{
  position:relative;
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size:4rem;
  line-height:55px;
    /*for gradient text colour*/
    background:var(--dark-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        /*for gradient text colour*/
}

.hero-text h5{
  font-size:.9rem;
  font-family: "Libre Franklin", serif;
  font-weight: 500;
  font-optical-sizing: auto; 
}

.hero-text-2{
  background:var(--light-blue-gradient);
  padding:30px 20px;
  border-radius:10px 0px 0px 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  position:absolute;
  bottom:0;
  right:0;
  z-index:10;
  transition: all 0.5s ease-in-out;
}


.hero-text-2 p{
  font-size:.7rem;
  font-family: "Libre Franklin", serif;
  font-weight: 400;
  font-optical-sizing: auto;
  line-height:15px;
}

.hero-text-2 a{
  color:white;
  text-decoration:none;
  font-size:.8rem;
  font-weight:600;
  background:var(--dark-gradient); 
  padding:10px 20px;
  border-radius:5px;
  transition: all 0.7s ease;
}

.hero-text-2 a:hover{
  background:var(--blue-color);
  color:white;
  text-decoration:none;
}


/*-------------------Why our Virtual Class here-------------------*/
.why-virtual{
  background:var( --gray-color);
  padding:150px 30px;
  text-align:center;
}

.why-virtual h2{
  font-size:1.5rem;
  font-family: "Raleway", serif;
  font-optical-sizing: auto; 
  font-weight: 700;
      /*for gradient text colour*/
      background:var(--dark-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
}

.why-virtual p{
  font-size:.7rem;
  font-family: "Libre Franklin", serif;
  font-weight: 400;
  line-height:20px;
  color:rgb(106, 105, 105);
  margin-bottom:30px;
}

.why-virtual-box{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin-top:0px 20px;
  padding:0px 20px;
}

.inner-box-img{
  width:50%;
  height:auto;
  overflow:hidden;
  border-radius:10px;
}

.why-virtual-box img{
  width:100%;
}

.inner-virtual-box{
  display:flex;
  flex-direction:column;
  width:100%;
  padding:60px 35px;
  align-items:center;
  border-radius:20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background:white;
  margin:10px 0px;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
}

.inner-virtual-box:hover{
  transform: scale(1.05);
  border:1px solid var(--dark-blue);
  background:var(--light-blue-gradient);
}

.inner-virtual-box:nth-child(2){
  background:var(--light-blue-gradient);
}

.inner-virtual-box:nth-child(2):hover{
  background:white;
  transform:translateX(20px);
}

.inner-virtual-box h4{
  font-size:1.2rem;
  font-optical-sizing: auto;
  font-weight: 600;
    /*for gradient text colour*/
    background:var(--dark-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        /*for gradient text colour*/
   margin:10px 0px;
   text-transform:uppercase;
}

.inner-virtual-box p{
  font-size:.9rem;
  font-weight: 400;
  line-height:20px;
  color:var(--light-orange-color);
}



/* ---------------Carousel design here--------- */

.carousel-sec{
  padding:150px 20px;
  text-align:center;

}

.carousel-sec h4{
  font-size:1.2rem;
  text-align:center;
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-sec p{
  font-size:.9rem;
  font-weight:500;
  line-height:20px;
  color:rgb(106, 105, 105);
  text-align:center;
  margin:-5px 40px 30px;
}

.carousel-item .d-block{
  cursor:pointer;
  width:100%;
  height:auto;
  aspect-ratio: 16/9;
  border-radius:10px;
  border:solid 2px rgb(220, 217, 217);
  transition: all 0.5s ease-in-out;
  background:var(--dark-gradient);
  padding:50px 20px;
}


.carousel-item .d-block:hover{
  border:solid 2px var(--blue-color);
}

.carousel-item .d-block img{
  width:100%;
  height:auto;
}

.carousel-item .img{
  width:100%;
  aspect-ratio: 16/9;
  overflow:hidden;
  border-radius:10px;
  position:relative;
  transition: all 0.5s ease-in-out;
  border:groove 5px var(--blue-color);
}

.carousel-item .img img{
  width:100%;
  height:auto;
  object-fit: cover;
  object-position: center;
}

.carousel-text{
  width:100%;
  padding:0px;
}

.carousel-text h4{
  color:white;
  cursor:pointer;
  font-size:1.2rem;
  font-weight:600;
  margin:20px 0px;
}

.carousel-text p{
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  color:white;
  text-align:center;
}

.carousel-text a{
  color:var(--dark-blue);
  text-decoration:none;
  font-size:1rem;
  background:var(--light-blue-gradient);
  padding:10px 30px;
  border-radius:5px;
  transition: all 0.7s ease-in-out;
}

.carousel-text a:hover{
  letter-spacing: 2px;
  text-decoration:none;
  color:var(--orange-color);

}



/* ---------------Accordance Design start here--------- */
.accord-box{
  display: flex;
  flex-direction: column;
  margin:0px;
  padding: 150px 10px;
  width:100%;
  box-shadow:#93929137 7px 7px 30px;
}

.accord-box h2{
  font-size:1.4rem;
  margin-bottom:30px;
  text-align: center;
  background: var(--orange-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accord-box h2 span{
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.accordion{
  cursor:pointer;
  padding:0px 20px;
}

.accordion li{
  list-style:none;
  width:90%;
  margin:10px 20px;
  padding:0px 10px;
  border-radius:8px;

}

.accordion li label{
  display:flex;
  align-items:center;
  color: rgb(139, 137, 137);
  cursor: pointer;
  padding: 10px 0px;
  width: 100%;
  text-align: left;
  font-size: .9rem;
  font-weight:500;
  transition: all 0.5s ease, padding 0.3s ease;
  border-radius: 5px;
  box-shadow:6px 6px 10px -1px rgba(3, 2, 2, 0.089),
              -6px -6px 10px -1px rgba(232, 229, 229, 0.514);
  
}

.accordion li label:hover{
  background:var(--dark-gradient);
  color:white;
  font-weight:700;
}

.accordion label::before{
  content: '+';
  color: rgb(139, 137, 137);
  font-size:1.5rem;
  margin-right: 10px;
  transition: transform 0.3s ease;
  padding-left:20px;
}

label:hover::before{
  color:white;
  font-size:1.2rem;
}



input[type="radio"]{
  display:none;
}

.accordion .content{
  font-size:.9rem;
  font-weight:500;
  line-height:20px;
      /*for gradient text colour*/
      background:var(--orange-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
         /*for gradient text colour*/
         max-height:0;
         overflow:hidden;
         transition: max-height 0.5s ease, padding 0.5s ease;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height:400px;
  padding:10px 20px;
}

.accordion input[type="radio"]:checked + label::before{
  content: '-';
  color: rgb(0, 0, 0);
  font-size:1.5rem;
}


/*-------------------Sponsor Details-------------------*/

.sponsor-container{
  padding:80px 0;
  text-align:center;
}

.sponsor-text{
  text-align:center;
}

.sponsor-text h4{
  font-size:1.5rem;
  font-weight:600;
  text-align:center;
      /*for gradient text colour*/
      background:var(--dark-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
         /*for gradient text colour*/
}

.sponsor-text p{
  font-size:.9rem;
  font-weight:400;
  line-height:20px;
  color:rgb(106, 105, 105);
  margin-bottom:30px;
}

.sponsor{
  padding:30px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.sponsor::before, .sponsor::after{
  position:absolute;
  top:0;
  width:150px;
  height: 100%;
  content:"";
}

.sponsor::before{
  left:0;
  background:linear-gradient(to left, transparent, rgb(255, 255, 255));
}

.sponsor::after{
  right:0;
  background:linear-gradient(to right, transparent, rgb(255, 255, 255));
}

.sponsor:hover .sponsor-slide{
  animation-play-state: paused;
}

.sponsor-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: max-content;
  animation: scrolling 10s linear infinite;
}


/**KeyFrame design*/
@keyframes scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.sponsor-slide img{
  max-height: 50px; 
  width: auto;
  margin:0 20px;
}















/*-------------------join-program-------------------*/

.join-program{
  background:var(--dark-gradient);
  padding:50px 30px;
  text-align:center;
}

.join-program h3{
  font-size:1.4rem;
  font-optical-sizing: auto;
  font-weight:600;
  margin-bottom:30px;
       /*for gradient text colour*/
       background:var(--light-blue-gradient);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
}

.join-program p{
  font-size:.9rem;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight:400;
  line-height:22px;
  margin-bottom:30px;
  color:white;
}

.join-program a{
  color:var(--blue-color);
  text-decoration:none;
  font-size:1rem;
  font-optical-sizing: auto;
  font-weight:600;
  background:var(--light-blue-gradient);
  padding:10px 20px;
  border-radius:5px;
  transition: all 0.7s ease;
}

.join-program a:hover{
  text-decoration:none;
  background:var(--gradient-1);
  color:var(--light-blue-color);
}




/*-------------------footer-------------------*/
footer{
  background:var(--light-blue-gradient);
  padding:20px 10px;
  text-align:center;
  color:rgb(0, 0, 0);
}

footer p{
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  margin-bottom:10px;
  color:var(--dark-blue);
}

footer p a{
  color:var(--dark-blue);
  text-decoration:none;
  font-size:.8rem;
  font-weight:500;
  padding:10px 20px;
  border-radius:5px;
  transition: all 0.7s ease;
}

footer p a:hover{
  color:var(--blue-color);
  text-decoration:none;
}


/*-------------------Form Design-------------------*/

.form h2{
        /*for gradient text colour*/
        background:var(--dark-gradient);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
          font-size:1.2rem;
          margin-bottom:-7%;
          text-align:center;
}









/**------ Main Design Here----*/
.main-hero-section{
    position:relative;
    min-height:100vh;
    overflow:hidden;
}

.main-free-course{
    width:100%;
    background:linear-gradient(120deg, white, rgb(234, 234, 234));
    display:flex;
    flex-direction:column;
    text-align: center;
    padding: 30px 20px;
    margin-top: -5px;
    position:relative;
    z-index:50;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.main-free-course h1{
    font-size: 2rem;
    /*for gradient text colour*/
    background:var(--dark-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        /*for gradient text colour*/
    margin: 0px 30px;
    font-family: "Hanalei Fill", cursive;
    font-weight: 400;
    line-height:55px;
    font-style: normal;
}

.main-free-course h6{
    font-size: 1rem;
    margin: 0px 30px;
    color:var(--dark-blue);
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}

.main-free-course h4{
    font-size: 1.3rem;
    margin: 0px 30px;
    color:var(--orange-color);
    font-optical-sizing: auto;
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
   font-weight: 900;
}

.about-program-here{
  padding:80px 30px;
}

.about-program-here h3{
      /*for gradient text colour*/
      background:var(--dark-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
          font-size:1.5rem;
}

.divider{
  width:30%;
  height:1%;
  padding:1px;
  background:var(--orange-gradient);
  margin-top:-20px;
}

.about-p-body{
  color: var(--gray-color);
  text-align:left;
  font-size:1rem;
  font-weight:400;
  line-height:30px;
}

.about-p-heading{
        /*for gradient text colour*/
        background:var(--orange-gradient);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
          font-size:.8rem;
          font-family: "Libre Franklin", serif;
          font-optical-sizing: auto;
          font-weight: 900;
}


.form-main{
  margin-bottom: 100px;
}
.form h6{
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  color:rgb(106, 105, 105);
  text-align:center;
  margin-bottom:15%;
}


.form{
  background:rgb(255, 255, 255);
  padding:30px 70px 50px;
  color:rgb(0, 0, 0);
}
.form label{
  font-size:.9rem;
  font-family: "Raleway", serif;
  font-weight:500;
  line-height:30px;
  color:rgb(106, 105, 105);
  margin:20px 0;
}

.form input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border-bottom: 1.5px solid var(--blue2-color);
  border-left:none;
  border-right:none;
  border-top:none;
  background:rgba(255, 255, 255, 0.053);
  color:rgb(0, 0, 0);
  outline: none;
}

.form select{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border-bottom: 1.5px solid var(--blue2-color);
  border-left:none;
  border-right:none;
  border-top:none;
  outline: none;
  background:rgba(255, 255, 255, 0.053);
  color:rgb(0, 0, 0);
  appearance: none; /* Hides default arrow */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background: url('custom-arrow.png') no-repeat right center; /* Optional: Add a custom arrow */
}

.form textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border-bottom: 1.5px solid var(--blue2-color);
  border-left:none;
  border-right:none;
  border-top:none;
  background:rgba(255, 255, 255, 0.053);
  color:rgb(0, 0, 0);
  resize: none;
  outline: none;
}

.form button{
  background:var(--orange-gradient);
  color:white;
  padding:10px 20px;
  border-radius:5px;
  border:none;
  font-size:1rem;
  font-family: "Raleway", serif;
  font-weight:600;
  transition: all 0.7s ease-in-out;
  margin-top: 30px;
  display: none;
}

.form button:hover{
  background:white;
  color:var(--orange-color);
  border:1px solid var(--orange-color);
  padding: 10px 40%;
}


.form #submitBtn2{
  background:var(--orange-gradient);
  color:white;
  padding:10px 20px;
  border-radius:5px;
  border:none;
  font-size:1rem;
  font-family: "Raleway", serif;
  font-weight:600;
  transition: all 0.7s ease-in-out;
  margin-top: 30px;
}

.form #submitBtn2:hover{
  background:white;
  color:var(--orange-color);
  border:1px solid var(--orange-color);
  padding: 10px 40%;
}

.form ::placeholder{
    color:rgb(96, 96, 96);
    opacity:.4;
}



#notice{
  font-size:.7rem;
  text-align:center;
  color:var(--orange-color);
  display:none;
}

.back-home a{
  color:var(--orange-color);
  text-decoration:none;
  font-size:.8rem;
  font-weight:500;
  background:white;
  transition: all 0.7s ease;
}

.back-button{
  color:white;
  padding:10px 20px;
  text-align:center;
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  justify-content: center;
  gap:2rem;
}

.back-button button{
  background:none;
  color:var(--orange-color);
  border:1px solid var(--orange-color);
  padding:10px 20px;
  border-radius:5px;
  font-size:.75rem;
  font-family: "Raleway", serif;
  font-weight:600;
  transition: all 0.7s ease-in-out;
}

.back-button button:hover{
  background:var(--orange-color);
  color:white;
}




/*--------About us Design here----------------*/

.hero-about{
  padding:140px 10px 0px;
}
.about-text{
  margin:0px 30px 20px;
}

.about-text h4{
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size:2rem;
  text-align:center;
      /*for gradient text colour*/
      background:var(--dark-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
         /*for gradient text colour*/
}

.about-text p{
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  color:var(--light-orange-color);
  margin-bottom:30px;
}


.about-img{
  position:relative;
  width:100%;
  padding: 150px 60px 0px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;  
  animation:CircleRolling 1s linear 1;
}

.about-img .img{
  width:100%;
  overflow:hidden;
  border-radius:50%;
  position:relative;
}

.about-img .img img{
  width:100%;
  object-fit: cover;
  object-position: center;
}

#img-2{
  width:60%;
  height:auto;
  border-radius:10px;
  margin: 0 auto;
}

.about-img-text{
  position:absolute;
  text-align:center;
  width:100%;
}

.about-img-text h3{
  font-size:3.5rem;
  text-align:center;
           /*for gradient text colour*/
           background:var(--light-blue-gradient);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
              /*for gradient text colour*/
  opacity:.3;
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
}


.core-value{
  padding:150px 10px;
  text-align:center;
}

.core-value-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin:0px 30px 30px;
  padding:40px 20px 10px;
  background:var(--linear-background-gradient);
  border-radius:30px 0px 30px 0px;
  transform:rotate3d(1, 1, 1, -10deg);
  box-shadow: var(--shadow-one);
  cursor:pointer;
  transition: all 1s ease-in-out;
}

.core-value-box:hover{
  border-radius:0px 30px 0px 30px;
  transform:rotate3d(1, 1, 1, 10deg);
  background:var(--light-blue-gradient-2);
  box-shadow: var(--shadow-one);
}

.core-value-box:nth-child(even){
  background:white;
  box-shadow: var(--shadow-one);
  transform:rotate3d(1, 1, 1, 10deg);
  
}

.core-value-box:nth-child(even):hover{
  background:var(--light-blue-gradient-2);
  box-shadow: var(--shadow-one);
  transform:rotate3d(1, 1, 1, -10deg);
}

.core-value-img{
  width:100px;
  height:100px;
  border-radius:100px;
  overflow:hidden;
}

.core-value-img img{
  width:100px;
  height:100px;
}

.core-value-text{
  margin:15px 0px 0px;
}

.core-value-text h4{
  font-size:1.2rem;
  font-weight:600;
      /*for gradient text colour*/
      background:var(--dark-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
         /*for gradient text colour*/
}

.core-value-text p{
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  color:var(--light-orange-color);
  margin-bottom:30px;
}





/*Download Page design*/


.resources-box{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px 30px
}

.resources{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px;
  margin: 10px 0px;
  background:var(--linear-background-gradient);
  border-radius:20px;
  box-shadow: var(--shadow-one);
  transition: all .5s ease-in-out;
  cursor:pointer;
}

.resources:hover{
  background:white;
  box-shadow: var(--shadow-one);
  transform:scale(.9);
}

.resources:nth-child(even){
  background:white;
  box-shadow: var(--shadow-one);
  transition: all .5s ease-in-out;
}

.resources:nth-child(even):hover{
  background:var(--light-blue-gradient-2);
  box-shadow: var(--shadow-one);
  transform:scale(.9);
}

.resources-text{
  text-align: left;
  margin: 0px 30px 20px;
}

.resources-text i{
  font-size: 3rem;
  color:var(--blue-color);
  margin-right: 10px;
  background:var(--light-blue-gradient);
  padding: 10px;
  border-radius: 50%;
  box-shadow: var(--shadow-two);
}

.resources-text h4{
  font-size:1.5rem;
  font-weight:600;
  margin-top: 10px;
  color:var(--blue2-color);
  transition:1s;
}

.resources-text h4:hover{
  color:var(--blue-color);
  text-decoration:none;
}

.resources-text p{
  font-size:.9rem;
  font-weight:400;
  line-height:20px;
  color:var(--light-orange-color);
  margin-bottom:30px;
}

.resources-link{
  display:flex;
  margin: 0px 30px 20px;
}

.resources-link a, .resources-link button{
  color:white;
  text-decoration:none;
  font-size:.8rem;
  font-weight:500;
  background:var(--dark-gradient);
  padding:10px 20px;
  border-radius:5px;
  transition: all 0.7s ease;
  margin-right: 20px;
}

.resources-link a:hover, .resources-link button:hover{
  background:var(--blue-color);
  color:white;
  text-decoration:none;
}

.details{
  padding: 50px 50px 0px;
  text-align:center;
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  color:red;
}



#pre{
  background: rgb(2, 0, 0);
  /*url(/image/preload/progress-bar.gif) no-repeat center center; */
  height:100vh;
  width:100%;
  position:fixed;
  z-index:1000;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

#pre img{
  width:50%;
  height:auto;
  opacity:0.5;
}
