
/*======Colour for Root =====*/

:root{
    --blue-color:rgb(185, 81, 194);
    --light-blue-color:rgb(249, 214, 255);
    --dark-blue:rgb(65, 4, 59);
    --blue2-color:rgb(147, 4, 147);
    --orange-color:rgb(44, 27, 23);
    --light-orange-color:rgb(98, 91, 80);
    --light-blue-gradient:linear-gradient(120deg, rgb(249, 214, 255), rgb(235, 252, 254));
    --gradient-1:linear-gradient(90deg, var(--blue2-color), var(--light-blue-color));
   --linear-background-gradient: linear-gradient(120deg, rgb(243, 197, 251), rgba(235, 252, 254, 0.144), rgb(201, 248, 253));
    --dark-gradient:linear-gradient(-140deg, var(--blue2-color), var(--dark-blue));
    --orange-gradient:linear-gradient(to right, var(--orange-color), var(--light-orange-color));
    --gray-color:rgb(239, 239, 239);
    --shadow-one: 0 0 30px rgba(0, 0, 0, 0.1);
    --shadow-two: 0 0 50px rgba(30, 27, 27, 0.244);

    --body-font: 'Poppins', sans-serif;
    --tiny-font-size: .625rem;

  }



.header-container{
  position:fixed;
  z-index:1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  background:var(--light-blue-gradient);
  padding: 1rem;
  box-shadow: var(--shadow-two);
}

.head-logo{
  width: 25%;
  border-radius: 50%;
  margin: 0 1rem;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--shadow-two);
  transition: .5s;
}

.head-logo:hover{
  transform: scale(1.1);
}

.head-logo img{
  width: 100%;
}

.head-menu h5{
  font-size: 1rem;
  font-weight: 500;
  transition: .5s;
  margin-right: 1rem;
          /*for gradient text colour*/
          background:var(--dark-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
              /*for gradient text colour*/
  transition:.5s;
}


  @media screen and (min-width:968px){
:root{
    --tiny-font-size: .688rem;
}  }

/*======Base =====*/


ul{
    list-style:none;
}

a{
    text-decoration: none;
}


/*====== NAVNAR DESIGN=====*/

.nav{
    position:fixed;
    bottom:-100%;
    left:0;
    right: 0;
    width: 95%;
    background:var(--light-blue-gradient);
    color:var(--dark-blue);
    box-shadow:var(--shadow-two);
    margin: 0 auto;
    padding: .5rem 1rem;
    border-radius: .7rem;
    overflow:hidden;
    z-index:300;
    transition:.5s;
  }

.nav.show {
  animation: BottomMenu 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  bottom: 1rem;
}


.nav-list{
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.nav-link{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position:relative;
    text-align: center;
}

.nav-link i{
    font-size:1.2rem;
        /*for gradient text colour*/
        background:var(--dark-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            /*for gradient text colour*/
    z-index:20;
    transition:.3s;
}
 
.nav-name{
  font-size: var(--tiny-font-size);
   position: relative;
   font-weight: 500;
   transition: .5s;
   z-index: 10;
       /*for gradient text colour*/
       background:var(--dark-gradient);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
           /*for gradient text colour*/
   opacity: .2;
 }
  
  /* Active link */
 
  
  .active-link .nav-name {
    opacity: 1;
    transform: translateY(28px);
  }
  
  
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 320px) {
    .nav {
      zoom: .8;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 968px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .nav {
      zoom: 1.1;
    }
  }