body{
font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding:0;
  margin:0;
  overflow-x:hidden;
  cursor:pointer;
}

html{
    scroll-behavior: smooth;
}

/*Root design*/
:root{
    --blue-color:rgb(185, 81, 194);
    --light-blue-color:rgb(249, 214, 255);
    --dark-blue:rgb(65, 4, 59);
    --blue2-color:rgb(147, 4, 147);
    --orange-color:rgb(44, 27, 23);
    --light-orange-color:rgb(98, 91, 80);
    --light-blue-gradient:linear-gradient(120deg, rgb(249, 214, 255), rgb(235, 252, 254));
    --gradient-1:linear-gradient(90deg, var(--blue2-color), var(--light-blue-color));
    --dark-gradient:linear-gradient(-140deg, var(--blue2-color), var(--dark-blue));
    --orange-gradient:linear-gradient(to right, var(--orange-color), var(--light-orange-color));
    --gray-color:rgb(239, 239, 239);

  }

/*Logo Section design*/

header{
    background:var(--white-color);
    color:var(--blue2-color);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 5px 30px;
    cursor:pointer;
    position:relative;
    z-index:200;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: .5rem;
    line-height: 30px;
}


/* Main section style*/

main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x:hidden;
}
/*
section{
  padding:150px 10px;
}

.main-hero-banner{
    position:relative;
    overflow-x:hidden;
}

.main-hero-banner img{
  margin-top:0;
  width:100%;
  height:auto;
  overflow:hidden;
  z-index:20;
}

*/

/*
Hero Section Design
*/

.hero{
  background:var(--light-blue-gradient);
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
  overflow: hidden;
  padding:150px 10px 0px;
}

.hero-text, .hero-text-2{
  text-align:center;
  position:relative;

}

.hero-text h1{
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size:4rem;
  line-height:55px;
    /*for gradient text colour*/
    background:var(--dark-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        /*for gradient text colour*/
}

.hero-text h5{
  font-size:.9rem;
  font-family: "Libre Franklin", serif;
  font-weight: 500;
  font-optical-sizing: auto; 
}

.hero-text-2{
  background:var(--light-blue-gradient);
  padding:30px 20px;
  border-radius:10px 0px 0px 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  position:absolute;
  bottom:0;
  right:0;
}


.hero-text-2 p{
  font-size:.7rem;
  font-family: "Libre Franklin", serif;
  font-weight: 400;
  font-optical-sizing: auto;
  line-height:15px;
}

.hero-text-2 a{
  color:white;
  text-decoration:none;
  font-size:.8rem;
  font-weight:600;
  background:var(--dark-gradient); 
  padding:10px 20px;
  border-radius:5px;
  transition: all 0.7s ease;
}

.hero-text-2 a:hover{
  background:var(--blue-color);
  color:white;
  text-decoration:none;
}


/*-------------------Why our Virtual Class here-------------------*/
.why-virtual{
  background:var( --gray-color);
  padding:150px 30px;
  text-align:center;
}

.why-virtual h2{
  font-size:1.5rem;
  font-family: "Raleway", serif;
  font-optical-sizing: auto; 
  font-weight: 700;
      /*for gradient text colour*/
      background:var(--dark-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
}

.why-virtual p{
  font-size:.7rem;
  font-family: "Libre Franklin", serif;
  font-weight: 400;
  line-height:20px;
  color:rgb(106, 105, 105);
  margin-bottom:30px;
}

.why-virtual-box{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin-top:0px 20px;
  padding:0px 20px;
  border-radius:10px;
}

.inner-box-img{
  width:50%;
  height:auto;
  overflow:hidden;
  border-radius:10px;
}

.why-virtual-box img{
  width:100%;
}

.inner-virtual-box{
  display:flex;
  flex-direction:column;
  width:100%;
  padding:60px 35px;
  align-items:center;
  border:1px solid var(--blue-color);
  border-radius:5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background:white;
  margin:10px 0px;
}

.inner-virtual-box h4{
  font-size:1.2rem;
  font-optical-sizing: auto;
  font-weight: 600;
    /*for gradient text colour*/
    background:var(--dark-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        /*for gradient text colour*/
   margin:10px 0px;
   text-transform:uppercase;
}

.inner-virtual-box p{
  font-size:.9rem;
  font-weight: 400;
  line-height:20px;
  color:var(--light-orange-color);
}















.main-hero-section{
    position:relative;
    min-height:100vh;
    overflow:hidden;
}

.main-free-course{
    width:100%;
    background:linear-gradient(120deg, white, rgb(234, 234, 234));
    display:flex;
    flex-direction:column;
    text-align: center;
    padding: 30px 20px;
    margin-top: -5px;
    position:relative;
    z-index:50;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.main-free-course h1{
    font-size: 2rem;
    /*for gradient text colour*/
    background:var(--dark-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        /*for gradient text colour*/
    margin: 0px 30px;
    font-family: "Hanalei Fill", cursive;
    font-weight: 400;
    line-height:55px;
    font-style: normal;
}

.main-free-course h6{
    font-size: 1rem;
    margin: 0px 30px;
    color:var(--dark-blue);
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}

.main-free-course h4{
    font-size: 1.3rem;
    margin: 0px 30px;
    color:var(--orange-color);
    font-optical-sizing: auto;
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
   font-weight: 900;
}

.about-program-here{
  padding:80px 30px;
}

.about-program-here h3{
      /*for gradient text colour*/
      background:var(--dark-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
          font-size:1.5rem;
}

.divider{
  width:30%;
  height:1%;
  padding:1px;
  background:var(--orange-gradient);
  margin-top:-20px;
}

.about-p-body{
  color: var(--gray-color);
  text-align:left;
  font-size:1rem;
  font-weight:400;
  line-height:30px;
}

.about-p-heading{
        /*for gradient text colour*/
        background:var(--orange-gradient);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
          font-size:.8rem;
          font-family: "Libre Franklin", serif;
          font-optical-sizing: auto;
          font-weight: 900;
}


/*-------------------join-program-------------------*/

.join-program{
  background:var(--dark-gradient);
  padding:20px 30px 60px;
  text-align:center;
  color:white;
}

.join-program h3{
  font-size:1.5rem;
  font-family: "Libre Franklin", serif;
  font-optical-sizing: auto;
  font-style:italic;
  margin-bottom:-13px;
}

.join-program p{
  font-size:.9rem;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight:400;
  line-height:22px;
  margin-bottom:30px;
}

.join-program a{
  color:white;
  text-decoration:none;
  font-size:1rem;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight:600;
  background:var(--orange-gradient);
  padding:10px 20px;
  border-radius:5px;
  transition: all 0.7s ease;
}

.join-program a:hover{
  background:white;
  color:var(--orange-color);
  
}


/*-------------------footer-------------------*/
footer{
  background:var(--light-blue-gradient);
  padding:10px;
  text-align:center;
  color:black;
}


/*-------------------Form Design-------------------*/

.form h2{
        /*for gradient text colour*/
        background:var(--dark-gradient);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
          /*for gradient text colour*/
          font-size:1.2rem;
          margin-bottom:-7%;
          text-align:center;
}


.form-main{
  margin-bottom: 100px;
}
.form h6{
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  color:rgb(106, 105, 105);
  text-align:center;
  margin-bottom:15%;
}


.form{
  background:rgb(255, 255, 255);
  padding:100px 70px 50px;
  color:rgb(0, 0, 0);
}
.form label{
  font-size:.9rem;
  font-family: "Raleway", serif;
  font-weight:500;
  line-height:30px;
  color:rgb(106, 105, 105);
  margin:20px 0;
}

.form input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border-bottom: 1.5px solid var(--orange-color);
  border-left:none;
  border-right:none;
  border-top:none;
  background:rgba(255, 255, 255, 0.053);
  color:rgb(0, 0, 0);
}

.form select{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border-bottom: 1.5px solid var(--orange-color);
  border-left:none;
  border-right:none;
  border-top:none;
  background:rgba(255, 255, 255, 0.053);
  color:rgb(0, 0, 0);
  appearance: none; /* Hides default arrow */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background: url('custom-arrow.png') no-repeat right center; /* Optional: Add a custom arrow */
}

.form textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border-bottom: 1.5px solid var(--orange-color);
  border-left:none;
  border-right:none;
  border-top:none;
  background:rgba(255, 255, 255, 0.053);
  color:rgb(0, 0, 0);
  resize: none;
}

.form button{
  background:var(--orange-gradient);
  color:white;
  padding:10px 20px;
  border-radius:5px;
  border:none;
  font-size:1rem;
  font-family: "Raleway", serif;
  font-weight:600;
  transition: all 0.7s ease-in-out;
  margin-top: 30px;
  display: none;
}

.form button:hover{
  background:white;
  color:var(--orange-color);
  border:1px solid var(--orange-color);
  padding: 10px 40%;
}

#notice{
  font-size:.7rem;
  text-align:center;
  color:var(--orange-color);
  display:none;
}

.back-home a{
  color:var(--orange-color);
  text-decoration:none;
  font-size:.8rem;
  font-weight:500;
  background:white;
  transition: all 0.7s ease;
}

.back-button{
  color:white;
  padding:10px 20px;
  text-align:center;
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  justify-content: center;
  gap:2rem;
}

.back-button button{
  background:none;
  color:var(--orange-color);
  border:1px solid var(--orange-color);
  padding:10px 20px;
  border-radius:5px;
  font-size:.75rem;
  font-family: "Raleway", serif;
  font-weight:600;
  transition: all 0.7s ease-in-out;
}

.back-button button:hover{
  background:var(--orange-color);
  color:white;
}


 /* ---------------Accordance Design start here--------- */
.accord-box{
  display: flex;
  flex-direction: column;
  margin:0px;
  padding: 100px 20px;
  width:100%;
  background:white;
  box-shadow:#93929137 7px 7px 30px;
}

.accord-box h2{
  font-size:1rem;
  text-align: center;
  background: var(--orange-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.accordion{
  cursor:pointer;
  padding:0px 20px;
}

.accordion li{
  list-style:none;
  width:90%;
  margin:10px 20px;
  padding:0px 10px;
  border-radius:8px;

}

.accordion li label{
  display:flex;
  align-items:center;
  color: rgb(139, 137, 137);
  cursor: pointer;
  padding: 10px 0px;
  width: 100%;
  text-align: left;
  font-size: .9rem;
  font-weight:500;
  transition: all 0.5s ease, padding 0.3s ease;
  border-radius: 5px;
  box-shadow:6px 6px 10px -1px rgba(3, 2, 2, 0.089),
              -6px -6px 10px -1px rgba(232, 229, 229, 0.514);
  
}

.accordion li label:hover{
  background:var(--orange-gradient);
  color:white;
  font-weight:700;
}

.accordion label::before{
  content: '+';
  color: rgb(139, 137, 137);
  font-size:1.5rem;
  margin-right: 10px;
  transition: transform 0.3s ease;
  padding-left:20px;
}

label:hover::before{
  color:white;
  font-size:1.2rem;
}



input[type="radio"]{
  display:none;
}

.accordion .content{
  font-size:.9rem;
  font-weight:500;
  line-height:20px;
      /*for gradient text colour*/
      background:var(--orange-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
         /*for gradient text colour*/
         max-height:0;
         overflow:hidden;
         transition: max-height 0.5s ease, padding 0.5s ease;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height:400px;
  padding:10px 20px;
}

.accordion input[type="radio"]:checked + label::before{
  content: '-';
  color: rgb(0, 0, 0);
  font-size:1.5rem;
}

/* ---------------Carousel design here--------- */

.carousel-sec{
  padding:150px 20px;
  text-align:center;

}

.carousel-sec h4{
  font-size:1.2rem;
  text-align:center;
  background: var(--orange-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-sec p{
  font-size:.9rem;
  font-weight:500;
  line-height:20px;
  color:rgb(106, 105, 105);
  text-align:center;
  margin:-5px 40px 30px;
}

.carousel-item .d-block{
  cursor:pointer;
  width:100%;
  height:auto;
  aspect-ratio: 16/9;
  border-radius:10px;
  border:solid 2px rgb(220, 217, 217);
  transition: all 0.5s ease-in-out;
  background:var(--dark-gradient);
  padding:50px 20px;
}


.carousel-item .d-block:hover{
  border:solid 2px var(--blue-color
  );
  opacity:.8;}

.carousel-item .d-block img{
  width:100%;
  height:auto;
}

.carousel-item .img{
  width:100%;
  aspect-ratio: 16/9;
  overflow:hidden;
  border-radius:10px;
  position:relative;
  transition: all 0.5s ease-in-out;
  border:groove 5px var(--blue-color);
}

.carousel-item .img img{
  width:100%;
  height:auto;
  object-fit: cover;
  object-position: center;
}

.carousel-text{
  width:100%;
  padding:0px;
}

.carousel-text h4{
  color:white;
  cursor:pointer;
  font-size:1.2rem;
  font-weight:600;
  margin:20px 0px;
}

.carousel-text p{
  font-size:.8rem;
  font-weight:400;
  line-height:20px;
  color:white;
  text-align:center;
}

.carousel-text a{
  color:white;
  text-decoration:none;
  font-size:1rem;
  background:var(--orange-gradient);
  padding:10px 30px;
  border-radius:5px;
  transition: all 0.7s ease-in-out;
}

.carousel-text a:hover{
  letter-spacing: 2px;
  text-decoration:none;
  color:var(--orange-color);

}
